vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|11 Dec 2020 16:45:21 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-C4HF1C3\\Aduquinal
vti_modifiedby:SR|DESKTOP-C4HF1C3\\Aduquinal
vti_timecreated:TR|09 Dec 2020 04:27:08 -0000
vti_backlinkinfo:VX|Project/home.html Project/house1.html Project/listings.html Project/sitemap.html Project/house2.html Project/house3.html Project/contact.html Project/template.html
vti_nexttolasttimemodified:TW|11 Dec 2020 16:45:21 -0000
vti_cacheddtm:TX|11 Dec 2020 16:45:21 -0000
vti_filesize:IR|3618
vti_cachedlinkinfo:VX|S|images/background.jpg S|images/logo.png
vti_cachedsvcrellinks:VX|FSUS|Project/images/background.jpg FSUS|Project/images/logo.png
