body {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    background-image: url("images/background.jpg");
    background-attachment: fixed;
}

#allPage {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    opacity: 0.90;
    color: rebeccapurple;
    padding: 10px;
    border-radius: 10px;
}

header,
footer {
    text-align: center;
}

header {
    padding: 60px;
    text-align: center;
    background-image: url("images/background.jpg");
    color: white;
    font-size: 30px;
    border-radius: 20px;
}

h1,
h2 {
    text-align: center;
}

fieldset {
    border: medium solid rebeccapurple;
    padding: 10px;
    border-radius: 10px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: lavender;
}

h1,
h2,
h3,
h4,
h6 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;
}

label {
    width: 250px;
    display: inline-block;
    text-align: right;
}

input,
select {
    width: 150px;
}

p {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 255px;
}

#submit {
    margin-left: 190px;
}

#clear {
    margin-left: 20px;
}

button {
    color: rebeccapurple;
}